<div class="col-lg-4 col-md-offset-4 panel_col">
    <div class="panel panel-warning">
        <div class="panel-heading"><h1>Edit book: "<%= @book.title %></h1></div>
        <div class="panel-body">
            <%= render 'form' %>
        </div>
    </div>
</div>

<div class="links_to">
    <%= link_to 'Show', @book %> |
    <%= link_to 'Back', books_path %>
</div>
