<div class="panel panel-warning">
    <div class="panel-heading"><h1>Add a New Book</h1></div>
    <div class="panel-body">
        <%= render 'form' %>
    </div>
</div>

<div class="links_to">
    <%= link_to 'Back', books_path %>
</div>
