@import 'bootstrap';

div {
    margin: auto;
    text-align: center;
    vertical-align: middle;
    display:block;
}

div .table {
    text-align: left;
}

ul {
    list-style-type:none
}

body {
    padding-top: 60px;
}

section {
    overflow: auto;
}

textarea {
    resize: vertical;
}

.center {
    text-align: center;
}

.center h1 {
    margin-bottom: 10px;
}

.thead-inverse tr {
    color: #fff;
    background-color: #373a3c;
}

.button_to input {
    color: #fff;
    background-color: #373a3c;
    border-color: #ffffff;
    border-radius: 5px;
    margin-top:50px;
}

.username {
    color: #fff;
    margin-top: 17px;
}

.col-centered {
    float: none;
    margin: 0 auto;
}

.view_title {
    margin-bottom: 50px;
}

.random {
    margin-bottom: 50px;
}

div .button_to_home {
    margin-left: inherit;
}

.home_books {
    margin-bottom: 100px;
}

.log_in_panel_col {
    margin-top: 100px;
}

.sign_up_panel_col {
    margin-top: 100px;
}

.panel_col {
    margin-top: 100px;
}

.form-text-email {
    color: #3c763d;
    
}

.form-text-password {
    color: #3c763d;
}

.user-field {
    color: #a94442;
}

.book-field {
     color: #8a6d3b;
}

.loan-field {
    color: #8a6d3b;
}

.footer {
    position: relative;
    width: 100%;
    height: 40px;
    background-color: #EFDBA7;
    margin-top: 50px;
}

.footer ul {
    margin-top: 12px;
}

.footer ul li {
    display: inline;
    padding: 0 0.5em;
    margin-top: none;
}

.jumbotron {
    margin-top: -10px;
    
}

div .table.table-random {
    width: 60%;
}

.panel-success {
    width: 20%;
}

.panel-danger {
    width: 30%;
}

.panel-warning {
    width: 40%;
}