@import 'bootstrap';

div {
    margin: auto;
    text-align: center;
    vertical-align: middle;
    display:block;
}

div .table {
    text-align: left;
}

ul {
    list-style-type:none
}

body {
    padding-top: 60px;
}

section {
    overflow: auto;
}

textarea {
    resize: vertical;
}

.center {
    text-align: center;
}

.center h1 {
    margin-bottom: 10px;
}

.thead-inverse tr {
    color: #fff;
    background-color: #373a3c;
}

.button_to input {
    color: #fff;
    background-color: #373a3c;
    border-color: #ffffff;
    border-radius: 5px;
}

.username {
    color: #fff;
}

.col-centered {
    float: none;
    margin: 0 auto;
}

.view_title {
    margin-bottom: 50px;
}

.random {
    margin-bottom: 50px;
}

div .button_to_home {
    margin-left: inherit;
}

.home_books {
    margin-bottom: 100px;
}